/* =========================
   RESPONSIVE
========================= */

.hamburguesa{
    display: none;
}

/* =========================
   TABLET
========================= */

@media (max-width:1000px){

    .menu{
        gap:20px;
    }

    .catalogo{
        grid-template-columns:1fr;
    }

    .carrito{
        position:relative;
    }

    .beneficios{
        grid-template-columns:repeat(2,1fr);
    }

    .hero-tienda h1{
        font-size:80px;
    }

}

/* =========================
   MOVIL
========================= */

@media (max-width:700px){

    .header{
        padding:15px 20px;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-between;
    }

    .hamburguesa{
        display:block;
        font-size:32px;
        cursor:pointer;
        user-select:none;
    }

    .menu-container{
    display:none;
    width:100%;
    margin-top:15px;
    background:#000;
}

    .menu-container.active{
        display:flex !important;
        justify-content:center;
        width:100%;
    }


    .menu{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:10px;
    text-align:center;
}

    .menu li{
        display:block;
        width:100%;
    }

    .menu li a{
        display:block;
        width:100%;
        padding:12px;
        text-align:center;
        text-decoration:none;
    }

    .tienda-menu{
        width:100%;
    }

    .submenu{
    position:static !important;
    width:100%;
    margin-top:5px;
    padding-left:20px;
    box-shadow:none;
    background:transparent;
    opacity:1 !important;
    visibility:visible !important;
    transform:none !important;
   
}

    .submenu li{
        width:100%;
    }

    .submenu li a{
        display:block;
        text-align:center;
        padding:8px;
    }

    .acciones-header{
        width:100%;
        margin-top:15px;
    }

    .search{
        width:100%;
    }

    h1{
        font-size:50px !important;
    }

    h2{
        font-size:30px !important;
    }

    .texto-carousel h1{
        font-size:55px !important;
        line-height:1;
    }

    .texto-carousel p{
        font-size:16px;
        line-height:1.4;
    }
    

    .productos-grid{
        grid-template-columns:1fr;
    }

    .beneficios{
        grid-template-columns:1fr;
    }

    .categorias-tienda{
        flex-direction:column;
        align-items:center;
    }

    .hero-tienda h1{
        font-size:60px;
    }

    .logo img{
    width:120px;
}

.search{
    width:100%;
    max-width:250px;
    height:35px;
}

.btn-carrusel{
    width:auto;
    font-size:16px;
    padding:10px 20px;
}

.slide img{
    height:400px;
}

.categoria{
    width:180px;
}

.categoria img{
    height:220px;
}

.producto img{
    height:220px;
}

.beneficio h3{
    font-size:20px;
}

.beneficio p{
    font-size:15px;
}

}