/*RESET*/
*{
box-sizing:border-box;

}

html,
body{
margin:0;
padding:0;
overflow-x:hidden;
font-family:'Poppins',sans-serif;
font-size:20px;
color:white;

}

/* TITULOS */
h1{

font-family:"Petemoss",cursive !important; /*"!mportant" le da prioridad a la indicación */
font-size:180px !important;
color: whitesmoke !important;
text-shadow:0 0 20px rgba(0,0,0,.7);

}

h2{

font-family:"Federo",sans-serif !important;
font-size:60px !important;
text-align:center !important;
color:#1A1A1A !important;
margin-bottom:40px !important;
margin-top:60px !important;

}

/* HEADER */
.header{
position:absolute; /* COLOCA DE FORMA ABSOLUTA AL ELEMENTO Y PUEDE SUPERPONERSE A OTROS ELEMENTOS*/
top:0; /*BORDE SUPERIOR*/
left:0; /*BORDE INFERIOR*/
width:100%;
display:flex; /*FLEXBOX, ORGANIZA ELEMENTOS HIJOS DE FORMA VISIBLE*/
justify-content:space-between; /* DISTRIBUYE ELEMENTOS HIJOS CON MAXIMO DE ESPACIO POSIBLE ENTRE ELLOS*/
align-items:center;
padding:15px 40px;
z-index:1000; /*PRIORIDAD DE POSICION, ENTRE MAS ALTO EL NUMERO, MAS ARRIBA SE MOSTRARA RESPECTO A OTROS ELEMENTOS*/
background:rgba(0,0,0,.6);

}

.acciones-header{
display:flex;
align-items:center;
gap:10px;

}

.logo img{
height:40px;
width:auto;
filter:drop-shadow(0 0 2px rgb(18,8,8));

}

/*REDES SOCIALES EN EL HEADER*/
.redes-encabezado{
display:flex;
padding:10px;

}

/*ENLACES DE REDES SOCIALES*/
.redes-encabezado a{
text-decoration:none;
margin:0 15px;
color:white;

}


/*ICONOS DE REDES SOCIALES*/
.redes-encabezado i{
font-size:30px;
color:rgb(153,151,151);
transition:.3s;

}

/*CURSOR SOBRE ICONOS DE REDES SOCIALES*/
.redes-encabezado i:hover{
color:#D67A7A;
transform:scale(1.2);

}




/* =====MENU====*/


/* MENU DESPLEGABLE TIENDA */

.menu-container{
flex:1; /*OCUPA TODO EL ESPACIO LIBRE DENTRO DEL CONTENEDOR FLEX*/
display:flex;
justify-content:center;
margin-left:100px;

}

.menu{
list-style:none; /*SIN VIÑETAS DE LISTA*/
display:flex;
gap:50px;
margin:0;
padding:0;

}



.menu li{
position:relative; /*REFERENCIA PARA HIJOS CON POSICION ABSOLUTA*/
}



.menu a{
text-decoration:none;
color:#EDDDDD;
font-size:20px;
letter-spacing:2px;
position:relative;
text-shadow:0 0 20px #141010;

}



/*LINEA DECORATIVA BAJO LOS ENLACES DEL MENU*/

.menu > li > a::after{ /*AFECTA A LOS ENLACES DE LA LISTA DEL MENU*/
content:""; /*NECESARIO PARA QUE EXISTA ESE ESPACIO*/
position:absolute;
width:0%; /*LA LINEA SE CREA PARTIR DE 0*/
height:4px; /*ALTURA DE LA LINEA*/
background:#ECC1C1;
left:0;
bottom:-5px;/*LO COLOCA -5PX BAJO SU POSICION DE REFERENCIA*/
transition:.3s;

}


.menu > li > a:hover::after{
width:100%; /*TOMA EL TAMAÑO DE LA ETIQUETA*/

}

/*SUBMENU TIENDA*/

.tienda-menu{
position:relative;

}

.submenu{
position:absolute;
top:35px;
left:0;
background:white;
width:240px;
padding:10px 0;
margin:0;
list-style:none;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,.15);
opacity:0;/*INVISIBLE*/
visibility:hidden; /*OCULTA EL ELEMNTO VISUALMENTE PEOR CONSERVA SU ESPACIO EN LA PAGINA*/
transform:translateY(10px); /*MUEVE EL ELEMENT 10PX ABAJO RESPECTO A SU POSICION ORIGINAL*/
transition:.3s;
z-index:2000; /*ESTE NUMERO LO SOBREPONE AL MENU PRINCIPAL*/
}


.tienda-menu:hover .submenu{ /*CURSOR SOBRE EL SUBMENU*/
opacity:1;/*VISIBLE AL PASAR EL CURSOR*/
visibility:visible; /*LO MUESTRA AL PASAR EL CURSOR*/
transform:translateY(0); /*SUBE EL ELEMENTO SUAVEMENTE A SU POSICION CORRECTA*/
}

.submenu li{
padding:12px 20px;

}

.submenu li a{
color:#1A1A1A;
font-size:16px;
letter-spacing:0;
text-shadow:none;
display:block;

}

/* ELIMINA LA ANIMACION DEL MENU */
.submenu li a::after{
display:none; /*OCULTA COMPLETAMENTE EL ELEMENTO Y EL ESPACIO QUE TIENE EN LA PAGINA*/

}

.submenu li:hover{
background:#F8F3EE;

}

/* Oculto por defecto */
.hamburguesa {
    display: none;
}


/* BUSCADOR */
.search{
width:250px;
height:38px;
border-radius:12px;
padding:0 10px;
border:3px solid rgba(255,255,255,.4);
background:transparent;
backdrop-filter:blur(25px);
color:white;
outline:none; /*ELIMINA EL CONTORNO QUE APARECE AL REDEDOR DE UN ELEMENTO CUANDO RCIBE FOCO*/

}


/*ESPACIO DE LA BARRA DE BUSQUEDA*/
.search::placeholder{ 
color:white;

}

.search:focus{
border-color:#ECC1C1;
box-shadow:0 0 30px #ECC1C1;

}



/* CARRUSEL */
.carousel{
width:100%;
overflow:hidden;
position:relative;

}

.slides{
display:flex;
transition:transform 1s ease;

}

.slide{
min-width:100%;
position:relative;

}


.slide img{
width:100%;
height:700px;
object-fit:cover;
display:block;

}

.slide::before{
content:"";
position:absolute;
inset:0; /*HACE QUE UN ELEMENTO SE EXTIENDA COMPLETAMENTE DENTRO DE SU CONTENEDOR DE REFERENCIA*/
background:rgba(0,0,0,.607);
z-index:1;

}


.texto-carousel{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);/*50% de su propio ancho hacia la izquierda y 50% de su propia altura hacia arriba.*/
text-align:center;
color:white;
width:80%;
z-index:2;

}


.texto-carousel h1{
font-family:"Petemoss",cursive;
font-size:180px;

}

.texto-carousel p{
font-size:35px;
color: whitesmoke !important;

}

.btn-carrusel{
width:260px;
display:inline-block; /*SE COMPORTA EN LINEA PERO PERMITE DEFINIR SUS PROPIEDADES COMO UN ELEMENTO BLOQUE*/
padding:10px 25px;
margin-top:25px;
background:#D48686;
color:white;
border-radius:8px;
font-size:22px;
font-weight:bold;
cursor:pointer;
text-decoration:none;
transition:.3s;

}

.btn-carrusel:hover{
background:#E8D8C3;
color:black;
box-shadow:0 0 20px rgba(20,19,19,.4);

}

.texto-img {
color: whitesmoke;
font-size: 25px;
}


/* PRODUCTOS */


.productos,
.productos-tienda,
.productos-destacados{

width:100%;
padding:60px 30px;
background:#F5F1EA;

}

.productos-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;

}

.producto{
background:#1A1A1A;
border-radius:18px;
overflow:hidden;
text-align:center;
padding-bottom:20px;
box-shadow:0 4px 15px rgba(0,0,0,.2);
transition:.3s;

}


.producto:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(212,134,134,.35);

}

.producto img{
width:100%;
height:300px;
object-fit:cover;

}

.producto h3{
margin-top:15px;
font-size:22px;
color:white;

}

.producto p{
color:#E8D8C3;
font-weight:bold;
font-size:18px;
margin:10px 0;

}


/* BOTONES PRODUCTOS */

.button-categoria,
.btn-agregar{

width:80%;
margin:25px auto;
display:flex;
justify-content:center;
align-items:center;
gap:8px;
padding:12px;
border-radius:10px;
border:none;
background:#D48686;
color:white;
cursor:pointer;
font-size:18px;
font-weight:bold;
text-decoration:none;
transition:.3s;

}

.button-categoria:hover,
.btn-agregar:hover{
background:#E8D8C3;
color:#1A1A1A;
box-shadow:0 0 20px rgba(212,134,134,.4);

}


/* CATEGORIAS*/

.categorias{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
flex-wrap:wrap;

}

.categoria{
width:260px;
display:flex;
flex-direction:column;
align-items:center;

}

.categoria img{
width:100%;
height:320px;
object-fit:cover;
border-radius:15px;
transition:.3s;

}

.categoria img:hover{
transform:scale(1.05);
box-shadow:0 0 40px rgba(216,167,160,.5);

}

.categoria h2{
font-size:22px !important;
color:#191717 !important;

}


/* SECCION DEATELIER*/

.atelier-section{
display:flex;
align-items:center;
justify-content:center;
gap:100px;
background:#D8A7A0;
padding:50px 20px;
flex-wrap:wrap; /*PERMTE QUE LOS ELEMENTOS DEL CONTENEDOR FLEXBOX PASEN A LA SIGUIENTE LINEA CUAND NO HAY ESPACIO SUFICIENTE*/
text-align:center;

}


.atelier{
max-width:700px;
line-height:1.6;

}


.atelier h2{
font-size:50px !important;
color:#191717 !important;

}

.atelier p{
font-size:20px;
color:#191717;

}

.video-box{
width:700px;
max-width:100%;
border-radius:15px;
overflow:hidden; /*OCULTA CONTENIDO QUE SOBRESALGA DE LOS LIMITES DE UN ELEMNTO*/
box-shadow:0 0 25px rgba(0,0,0,.2);

}


.video-box iframe{
width:100%;
height:400px;

}


/* TIENDA*/

/*PARTE PRINCIPAL DE LA TINEDA*/
.hero-tienda{
position:relative;
height:450px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
overflow:hidden;

}

.hero-tienda img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:0;

}

.hero-tienda::before{
content:"";
position:absolute;
inset:0;
background:rgba(0, 0, 0, 0.616);
z-index:1;

}

.hero-tienda h1,
.hero-tienda p{
position:relative;
z-index:2;
color: whitesmoke;
font-size: 35px;

}

.hero-tienda h1{
font-size:120px;
margin:0;

}

.categorias-tienda{
display:flex;
justify-content:center;
gap:30px;
padding:70px 20px;
background:#111;

}

.categoria-tienda{
width:250px;
text-align:center;

}

.categoria-tienda img{
width:100%;
height:320px;
object-fit:cover;
border-radius:15px;
transition:.3s;

}


.categoria-tienda img:hover{
transform:scale(1.05);

}


/* CATALOGO */
.catalogo{
display:grid;
grid-template-columns:200px 2fr 350px;
gap:40px;
padding:30px;

}




/* CARRITO */

.carrito{

background: linear-gradient(
    180deg,
    #F8F3EE 0%,
    #FFFDFB 100%
);

padding: 30px;
border-radius: 20px;
border: 1px solid #E5D8C8;
box-shadow:
    0 10px 25px #E8D8C3,
    0 3px 10px #d48686;
position: sticky;
top: 20px;
color:#2C2C2C;

}

/* TITULO */

.carrito h3{
color:#d48686;
text-align:center;
font-size:25px;
margin-bottom:25px;
letter-spacing:1px;
border-bottom:2px solid #E8D8C7;
padding-bottom:15px;

}


/* PRODUCTOS */

.item-carrito{
display:flex;
justify-content:space-between;
align-items:center;
gap:15px;
padding:1px 0;
border-bottom:1px solid #E9E1D8;

}

.item-carrito span{
line-height:1.5;

}

/* BOTONES CANTIDAD */
.item-carrito .acciones{
display:flex;
align-items:center;
gap:10px;

}

.btn-cantidad{
width:35px;
height:35px;
border:none;
background:#D8C3A5;
color:#0a0909;
border-radius:8px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;

}

.btn-cantidad:hover{
background:#d48686;
color:white;
transform:scale(1.05);

}


.item-carrito .cantidad{
min-width:30px;
text-align:center;
font-size:18px;
font-weight:bold;

}

/* ELIMINAR */
.btn-eliminar{
background:none;
border:none;
color:#C06060;
cursor:pointer;
font-size:22px;
margin-left:8px;
transition:.3s;

}

.btn-eliminar:hover{
color:#A04040;
transform:scale(1.15);

}

/* CARRITO VACIO */
.carrito-vacio{
text-align:center;
color:#999;
padding:30px 0;
font-style:italic;

}


/* RESUMEN */
.carrito p{
display:flex;
justify-content:space-between;
align-items:center;
margin:12px 0;
font-size:16px;

}

.carrito hr{
border:none;
border-top:1px solid #E8D8C7;
margin:20px 0;

}

/* TOTAL */
#total{
color:rgb(26, 26, 26);
font-size:24px;
font-weight:bold;

}

/* BOTON FINALIZAR */
.btn-finalizar{
width:100%;
padding:15px;
margin-top:20px;
border:none;
background:rgb(26, 26, 26);
color:white;
border-radius:12px;
font-size:18px;
font-weight:600;
cursor:pointer;
transition:.3s;

}

.btn-finalizar:hover{
background:#1A1A1A; 
transform:translateY(-2px);

}

/*BENEFICIOS */

.beneficios{
background:#000;
padding:60px 20px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}

#titulo-beneficios{
grid-column:1/-1;
color:white !important;
text-align:center;

}


.beneficio{
text-align:center;
color:white;
padding:20px;
border-radius:20px;
transition:.3s;

}

.beneficio:hover{
background:rgba(255,255,255,.05);
transform:translateY(-5px);
}


.beneficio i{
font-size:45px;
color:#D48686;
margin-bottom:20px;
display:block;

}


.beneficio h3{
font-size:25px;
margin-bottom:15px;

}

.beneficio p{
font-size:18px;
line-height:1.5;

}

/*FILTROS*/

.filtros{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.1);
border:2px solid #F8D2D0;
color:#1A1A1A;
font-family:'Poppins',sans-serif;

}

.filtros label{
display:block;
margin:10px 0;

}

/*PAGINACION*/

.paginacion{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
margin-top:40px;
color:#1A1A1A;

}

.paginacion button{
border:none;
background:#D48686;
color:white;
padding:10px 20px;
border-radius:25px;
cursor:pointer;
transition:.3s;

}

.paginacion button:hover{
background:#E0A0A0;

}


/*FOOTER*/
.footer{
background:#000;
color:white;
text-align:center;
padding:25px 15px;
font-size:14px;

}

footer{
background:#F5E7E4;
padding:20px;
text-align:center;

}

.footer p{
margin:5px 0;

}

.redes-sociales-footer a{
color:white;
text-decoration:none;
margin:0 8px;

}

.redes-sociales-footer i{
font-size:30px;
color:#999;
transition:.3s;

}


.redes-sociales-footer i:hover{
color:#D67A7A;
transform:scale(1.2);

}




