/* =========================
RESPONSIVE
========================= */


@media(max-width:1000px){


.menu{

gap:20px;

}



.catalogo{

grid-template-columns:1fr;

}



.carrito{

position:relative;

}



.beneficios{

grid-template-columns:repeat(2,1fr);

}



.hero-tienda h1{

font-size:80px;

}


}




@media(max-width:700px){


.header{

padding:15px 20px;

}



.menu-container{

display:none;

}



.hamburguesa{

 display: block;
} 




h1{

font-size:90px !important;

}



h2{

font-size:40px !important;

}



.slide img{

height:500px;

}



.texto-carousel h1{

font-size:80px !important;

}



.texto-carousel p{

font-size:18px;

}



.productos-grid{

grid-template-columns:1fr;

}



.beneficios{

grid-template-columns:1fr;

}



.categorias-tienda{

flex-direction:column;

align-items:center;

}



.hero-tienda h1{

font-size:60px;

}



}