body {
  margin: 0;
  font-family: marcellus, sans-serif;

}
.logo img {
  height: 160px;  /* tamaño del logo */
  width: auto;   /* mantiene proporción */
  /*box-shadow: 0 0 10px rgba(236, 193, 193);*/
  margin-left: 50px ; espacio alrededor del logo
  margin-bottom: 30px;
  padding: 10px;
  


}
.navbar { /*Clase para la barra de navegación*/
  display: flex;  /*Hace que los elementos hijos se alineen en fila (horizontal por defecto)*/
  align-items: center;
  justify-content: space-between; /*Empuja elementos a los extremos*/
  background: black;
  padding: 20px 30px;
  height: 290px;
}
.menu {
  list-style: none; /*Elimina los puntos de la lista*/
  display: flex;
  gap: 60px; /*Crea espacio entre los elementos*/
  margin-right: 60px ;
  margin-bottom: 20px;
  padding: 30px;
  position: left;
  font-size: 32px;
  font-family: margesh,serif;
}
.menu a {
  text-decoration: none;
  color: white;
  position: relative; /*para que ::after se ubique dentro del enlace*/
  transition: 0.3s;}

  .menu a::after { /*crea un elemento falso despues de cada enlac*/
  content: ""; /*obliga a que el elemento ::after se muestre */
  position: absolute; /*permite mover el ::after  libremente y posicionarse respecto al elemnto padre que es (a)*/
  width: 0%;/*la linea empieza en 0%*/
  height: 3px; /*Grueso de la linea*/
  background: rgb(236, 193, 193);
  left: 0; /* inicia desde el lado izquierdo del texto*/
  bottom: -5px; /*lo baja, para que quede debajo del texto*/
  transition: 0.3s; /*duracion de la transcicion */
}

.menu a:hover::after {
  width: 100%; /*hace que la linea se extienda al 100% del ancho del texto*/
  box-shadow: 0 0 10px rgba(236, 193, 193);
}


.search {
  width: 250px;
  height: 40px;
  margin-right: 100px;
  border-radius: 16px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.right {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea a la derecha */
  gap: 12px;
  margin-left: auto; /* esto la empuja totalmente a la derecha */
}
.search:focus {
  width: 230px; /* Aumenta el ancho al hacer clic */
  box-shadow: 0 0 10px rgba(236, 193, 193);
}